@media (max-width: 990px) {
    .input-area {
        width: 70vh;
    }
    .result-area {
        width: 40%;
        padding-top: 10px;
    }
    .btn {
        width: 300px;
    }
}
@media (max-width: 768px) {
    .d-flex {
        flex-direction: column;
        align-items: center;
    }
    .input-area {
        width: 70vh;
    }
    .result-area {
        width: 100%;
        margin: 0px;
    }
    .icons {
        display: flex;
    }
    .btn {
        width: 260px;
    }
}
@media (max-width: 575px) {
    .input-area {
        width: 45vh;
    }
    .d-grid {
        justify-content: center;
    }
    .btn {
        width: 260px;
    }
}
@media (max-width: 330px) {
    #copiar {
        width: 260px;
    }
    .btn {
        width: 260px;
    }
    .input-area {
        width: 40vh;
    }
    .result-area {
        position: relative;
        right: 10px;
    }
}
