html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    height: 100%;
    background-color: #F3F5FC;
}
textarea {
    resize: none;
    height: 100%;
    border-radius: 30px;
    outline: none;
}
#text {
    padding: 20px;
    border: none;
    background-color: #F3F5FC;
}
#result {
    border: none;
    padding: 20px;
}
.input-area {
    width: 70%;
}
.result-area {
    width: 30%;
}
.card {
    height: 500px;
    border-radius: 30px;
}
.border-none {
    border: none;
    background-color: #F3F5FC;
}
.btn-primary {
    background-color: #0A3871;
}
.btn-outline-secondary {
    border-color: #0A3871;
    color: #0A3871;
}
footer img {
    width: 35px;
}