html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    min-height: 100%;
    background-color: #F3F5FC;
    font-family: 'Red Hat Display', sans-serif;
}
header {
    margin-top: 10px;
}
textarea {
    resize: none;
    height: 100%;
    border-radius: 30px;
    outline: none;
}
.text {
    padding: 20px;
    border: none;
    background-color: #F3F5FC;
}
#result {
    border: none;
    padding: 20px;
}
.input-area {
    width: 60%;
}
.result-area {
    width: 30%;
}
.card {
    height: 600px;
    border-radius: 30px;
}
.border-none {
    border: none;
    background-color: #F3F5FC;
}
.btn-primary {
    background-color: #0A3871;
}
.btn-outline-secondary {
    border-color: #0A3871;
    color: #0A3871;
}
.aviso {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}
.aviso img {
    height: 16px;
}
.aviso p {
    margin: 0;
    margin-left: 5px;
}
.btn {
    width: 280px;
    height: 55px;
    border-radius: 20px;
}
.shadow {
    box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
    border-radius: 32px;
}
footer img {
    width: 35px;
}
.icons {
    display: flex;
}
.textarea {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 600px;
    text-align: center;
}
.textarea img {
    width: 18em;
}
.title {
    font-weight: bold;
}
#copiar {
    display: none;
}
.dark {
    background-color: #14213D;
}
.card-dark {
    background-color: #8b94a3;
}
.fontColor {
    color: #F3F5FC;
}
textarea::placeholder {
    color: #0A3871;
}
